<figure>
    <blockquote>
        <p><%= @question %></p>
    </blockquote>
    <figcaption><strong>—You</strong>, <cite>Nice person</cite></figcaption>
</figure>

<figure>
    <blockquote>
        <p><%= @answer %></p>
    </blockquote>
    <figcaption><strong>—Coach</strong>, <cite>Strict person</cite></figcaption>
</figure>

<%= link_to "Ask a new question ?", ask_path %>
